* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo: #C8ACD6;
    --fundo-logs: #EBD3F8;
    --hover: #DCD7C9;
    --claro: #433D8B;
    --medio: #362981;
    --escuro: #17153B;
    --borda: #7b71db;
    --sombra: #14141469;
    --branco: #f1f1f1;
}

body {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--branco);
}

header {
    background-color: var(--escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    box-shadow: 0.1rem 0.1rem 0.5rem var(--sombra);
}

nav ul.nav-links {
    display: flex;
    gap: 1.5rem;
}

ul.nav-links li {
    list-style: none;
}

ul.nav-links li a {
    color: var(--branco);
    text-decoration: none;
    transition: color .3s ease;
}

ul.nav-links li a:hover {
    color: var(--hover);
}

main.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

main.grid section#tree {
    grid-area: 0 / 0 / 1 / 1;
    background-color: var(--medio);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    scroll-margin-top: 1.8rem;
}

section#tree div.tree-container {
    width: 100%;
    height: 100%;
    background-color: var(--fundo);
    border-radius: 1rem;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    box-shadow: 0.1rem 0.1rem 0.5rem var(--sombra);
    display: flex;
    flex-direction: column;
}

main.grid section#simulation {
    grid-area: 1 / 0 / 2 / 1;
    background-color: var(--claro);
}

main.grid section#change-node {
    grid-area: 2 / 0 / 3 / 1;
    background-color: var(--medio);
}

main.grid section#simulation,
main.grid section#change-node {
    padding: 1rem;
    scroll-margin-top: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

section#change-node p {
    margin-top: 1rem;
}

section#change-node .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section#change-node .container .esquerda {
    width: 40%;
}

section#change-node .container .direita {
    width: 60%;
}

section#change-node table {
    width: 100%;
    border-collapse: collapse;
    margin: 0.5rem 0;
    font-family: monospace;
    font-size: 0.7rem;
    text-align: center;
    color: var(--escuro);
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.12);
}

section#change-node table thead th {
    background: var(--borda);
    color: var(--escuro);
    font-weight: bolder;
    padding: 0.6rem;
}

section#change-node table tbody tr:nth-child(even) {
    background-color: var(--fundo);
}

section#change-node table tbody tr:nth-child(odd) {
    background-color: var(--fundo-logs);
}

section#change-node table tbody td {
    padding: 0.6rem;
}

section#change-node table td:first-child {
    font-weight: 600;
}

section#simulation form,
section#change-node form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

section#change-node select {
    background-color: var(--fundo);
}

form input[type="text"] {
    background-color: var(--fundo);
    width: 60%;
    border-radius: 1rem;
    border: none;
    padding-left: 0.3rem;
}

#simulation form input[type="text"] {
    width: 30%;
}

.tree-logs-container {
    width: 100%;
    height: 100%;
    max-height: 380px;
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.tree-logs-container .tree-container {
    width: 80%;
    background-color: var(--fundo);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0.1rem 0.1rem 0.5rem var(--sombra);
}

.logs-container {
    width: 20%;
    background-color: var(--fundo-logs);
    border-radius: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0.1rem 0.1rem 0.5rem var(--sombra);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: var(--sombra);
}

.logs-container p {
    font-size: 0.7rem;
}

section#tree button#btn-load-tree,
section#simulation button,
section#change-node form button {
    width: 10rem;
    padding: 0.2rem;
    border: 0.1rem solid var(--borda);
    box-shadow: 0.05rem 0.05rem 0.1rem var(--sombra);
    border-radius: 0.3rem;
    transition: background-color .3s ease;
    cursor: pointer;
}

section#simulation div.buttons {
    display: flex;
    gap: 1rem;
}

section#tree button#btn-load-tree:hover,
section#simulation form button:hover,
section#change-node form button:hover {
    background-color: var(--hover);
}

#tooltip {
    position: absolute;
    pointer-events: none;
    background: var(--fundo-logs);
    color: var(--escuro);
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 13px;
    max-width: 260px;
    line-height: 1.4;
}

.tree-container svg {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

.node-text {
  font-size: 0.5rem;
  fill: black;
}

.link {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}