<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>EcoGrid</title>
    <link rel="stylesheet" href="/static/style.css" /> 
</head>
<body data-base-url="{{ base_url }}"> 
    <header>
        <h1>EcoGrid</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="#tree">Árvore</a></li>
                <li><a href="#simulation">Simulação</a></li>
                <li><a href="#change-node">Modificar nó</a></li>
            </ul>
        </nav>
    </header>

    <main class="grid">
        <section id="tree">
            <button id="btn-load-tree">Carregar árvore original</button>
            <div class="tree-container"></div>
            <div id="tooltip" class="hidden"></div>
        </section>

        <section id="simulation">
            <h2>SIMULAÇÃO</h2>
            <p>Escolha um tipo de evento para simular!</p>
            <p>O programa forçará o evento a acontecer no nó selecionado.</p>

            <form id="simulation-form"> 
                <div>
                    <label for="chosen-node">Digite o id do nó escolhido: </label>
                    <input type="text" name="sim-chosen-node" id="chosen-node" required>
                </div>

                <div>
                    <input type="radio" name="simulation-choice" value="overload" id="overload" required>
                    <label for="overload">Sobrecarga</label>

                    <input type="radio" name="simulation-choice" value="node-failure" id="node-failure">
                    <label for="node-failure">Falha de nó</label>

                    <input type="radio" name="simulation-choice" value="consumption-peak" id="consumption-peak">
                    <label for="consumption-peak">Pico de consumo</label>
                </div>
            </form>
            <div class="buttons">
                <button type="submit" form="simulation-form">Simular</button> 
                <button type="button" id="stop-simulation">Finalizar</button> 
            </div>
            <div class="tree-logs-container">
                <div class="tree-container"></div>
                <div class="logs-container">
                    <h3>Logs</h3>
                </div>
            </div>
        </section>

        <section id="change-node">
            <div class="container">
                <div class="esquerda">
                    <h2>MODIFICAR NÓ</h2>
                    <p>Escolha uma das mudanças a serem feitas no nó selecionado <br>
                        e veja como o sistema responde à ela!
                    </p>

                    <form id="change-node-form">
                        <div>
                            <label for="node-for-change">Digite o id do nó:</label>
                            <input type="text" name="node-for-change" placeholder="Nó que sofrerá mudança ou pai que receberá filho" required>
                        </div>

                        <div>
                            <label for="opcoes">Escolha o que você deseja mudar: </label>
                            <select name="opcoes" id="opcoes">
                                <option value="capacity-kw">Alterar capacidade nominal</option>
                                <!-- <option value="current_load_kw">Carga atual em kW</option> -->
                                <option value="add-node">Adicionar nó</option>
                                <option value="add-node-routing">Adicionar nó com roteamento</option>
                                <option value="delete-node">Deletar nó</option>
                                <option value="change-parent">Trocar o pai do nó</option>
                                <option value="change-parent-routing">Trocar o pai do nó com roteamento</option>
                            </select>
                        </div>

                        <div>
                            <label for="new-value">Novo valor: </label>
                            <input type="text" name="new-value" placeholder="Apenas novo valor de capacidade ou novo pai">
                        </div>
                        
                        <button type="submit">Enviar</button>
                    </form>
                </div>
                
                <div class="direita">
                    <table>
                        <thead>
                            <th>MUDANÇA</th>
                            <th>DESCRIÇÃO</th>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Alterar capacidade nominal</td>
                                <td>Altera o valor da capacidade nominal do nó (em kW)</td>
                            </tr>

                            <tr>
                                <td>Adicionar nó</td>
                                <td>Força a adição de um novo nó no pai em questão</td>
                            </tr>

                            <tr>
                                <td>Adicionar nó com roteamento</td>
                                <td>Adiciona um nó ao seu melhor pai da rede</td>
                            </tr>

                            <tr>
                                <td>Deletar nó</td>
                                <td>Deleta o nó em questão da árvore</td>
                            </tr>

                            <tr>
                                <td>Trocar o pai do nó</td>
                                <td>Troca o pai do nó forçadamente para o nó escolhido</td>
                            </tr>

                            <tr>
                                <td>Trocar o pai do nó com roteamento</td>
                                <td>Troca o pai do nó para o seu melhor pai da rede</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            
            <div class="tree-logs-container">
                <div class="tree-container"></div>
                <div class="logs-container">
                    <h3>Logs</h3>
                </div>
            </div>
        </section>
    </main>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/static/index.js" type="module"></script>
</body>
</html>