<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>EcoGrid</title>
    <link rel="stylesheet" href="/static/style.css" /> 
</head>
<body data-base-url="{{ base_url }}"> 
    <header>
        <h1>EcoGrid</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="#tree">Árvore</a></li>
                <li><a href="#change-node">Modificar nó</a></li>
            </ul>
        </nav>
    </header>

    <main class="grid">
        <section id="tree">
            <button id="btn-load-tree">Carregar árvore original</button>
            <div class="tree-container"></div>
            <div id="tooltip" class="hidden"></div>
        </section>

        <section id="change-node">
            <div class="container">
                <div class="esquerda">
                    <h2>MODIFICAR NÓ</h2>
                    <p>Escolha uma das mudanças a serem feitas no nó selecionado <br>
                        e veja como o sistema responde à ela!
                    </p>

                    <form id="change-node-form">
                        <div>
                            <label for="node-for-change">Digite o id do nó:</label>
                            <input type="text" name="node-for-change" placeholder="Nó que sofrerá mudança ou pai que receberá filho" required>
                        </div>

                        <div>
                            <label for="opcoes">Escolha o que você deseja mudar: </label>
                            <select name="opcoes" id="opcoes">
                                <option value="capacity-kw">Alterar capacidade nominal</option>
                                <option value="add-node">Adicionar nó</option>
                                <option value="delete-node">Deletar nó</option>
                                <option value="change-parent">Trocar o pai do nó</option>
                            </select>
                        </div>

                        <div>
                            <label for="new-value">Novo valor: </label>
                            <input type="text" name="new-value" placeholder="Apenas novo valor de capacidade ou novo pai">
                        </div>
                        
                        <button type="submit">Enviar</button>
                    </form>
                </div>
                
                <div class="direita">
                    <table>
                        <thead>
                            <th>MUDANÇA</th>
                            <th>DESCRIÇÃO</th>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Alterar capacidade nominal</td>
                                <td>Altera o valor da capacidade nominal do nó (em kW)</td>
                            </tr>

                            <tr>
                                <td>Adicionar nó</td>
                                <td>Força a adição de um novo nó no pai em questão</td>
                            </tr>

                            <tr>
                                <td>Deletar nó</td>
                                <td>Deleta o nó em questão da árvore</td>
                            </tr>

                            <tr>
                                <td>Trocar o pai do nó</td>
                                <td>Troca o pai do nó forçadamente para o nó escolhido</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            
            <div class="tree-logs-container">
                <div class="tree-container"></div>
                <div class="logs-container">
                    <h3>Logs</h3>
                </div>
            </div>
        </section>
    </main>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/static/index.js" type="module"></script>
</body>
</html>